@use '../../index' as *;

.carrousel{
    width: 86%;
    background: $border-gradient;
    padding: 7px;
    border-radius: 8px;
    position: relative;
    &__card{
        background: $cards;
        padding: 8px;
        border-radius: 8px;
        &--title{
            margin: 10px 30px;
        }
        &--img-wrapper{
            position: relative;
        }
        &--img{
            width: 100%;
            max-height: 148px;
            object-fit: cover;
            border-radius: 8px;
        }
        &--arrow{
            width: 70px;
            height: 100%;
            background: transparent;
            border: none;
            position: absolute;
            top: 0;
        }
    }
    &__modal{
        width: 95%;
        max-height: 90%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin: 7% 0 0 1.5%;
        background: $cards;
        border: 5px solid $textes-v2;
        border-radius: 15px;
        overflow: auto;
        overflow-x: hidden;
        &--close-btn{
            position: relative;
            width: 33px;
            height: 33px;
            margin: 20px 20px 0 85%;
            display: flex;
            flex-shrink: 0;
            box-shadow: 1px 1px 2px #7c22bb;
        }
        .close-btn-stick{
            position: absolute;
            top: 13px;
            left: 3px;
            width: 25px;
            height: 4px;
            border-radius: 1px;
            background: $cards;
        }
        .stick1{
            transform: rotate(45deg);
        }
        .stick2{
            transform: rotate(-45deg);
        }
        &--title{
            margin: 0 0 0 15px;
        }
        &--context{
            margin: 15px 0 15px 15px;
        }
        &--img-wrapper{
            position: relative;
            align-self: center;
            width: 95%;
        }
        &--img{
            width: 100%;
            border-radius: 5px;
            margin: 10px 0;
        }
        &--arrow{
            width: 70px;
            height: 100%;
            border: none;
            position: absolute;
            top: 0;
            background: transparent;
        }
        .logo-text{
            margin-left: 15px;
        }
        .logo{
            width: 80px;
            height: 80px;
            border-radius: 15px;
            margin: 15px;
        }
        &--p{
            margin: 10px 15px;
            word-break: break-all;
        }
        &--improvements{
            margin: 0 15px;
        }
    }
}

.left-btn{
    left: 0;
}
.right-btn{
    right: 0;
}
.fa-angle-left{
    position: absolute;
    left: 15px;
    top: 40%;
    font-size: 50px;
    color: #3b0764;
    opacity: 0.4;
}
.fa-angle-right{
    position: absolute;
    right: 15px;
    top: 40%;
    font-size: 50px;
    color: #3b0764;
    opacity: 0.4;
}
.overlay{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.overlay.hide{
    opacity: 1;
    pointer-events: auto;
}
@media (min-width : 400px){
    .carrousel{
        max-width: 452px;
        &__modal--img-wrapper {
            width: 90%;
        }
        &__card{
            &--img-wrapper{
                display: flex;
                justify-content: center;
            }
            &--img{
                width: 95%;
            }
        }
    }
}
@media (min-width : 768px){
    .carrousel{
        height: 250px;
        &__card{
            padding: 8px 8px 12px 8px;
            &--img{
                max-height: 177px;
            }
        }
    }
    .fa-angle-left{
        font-size: 55px;
    }
    .fa-angle-right{
        font-size: 55px; 
    }
}
@media (min-width : 1024px){
    .carrousel{
        max-width: none;
        width: 55%;
        height: 340px;
        &__card{
            &--img{
                max-height: 267px;
            }
        }
    }
    .fa-angle-left{
        font-size: 60px;
    }
    .fa-angle-right{
        font-size: 60px; 
    }    
}
@media (min-width : 1440px){
    .carrousel{
        display: none;
    }
}