@use '../index' as *;

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $cards;
    height: 75px;
    &__icon{
        width: 33px;
        height: 33px;
        margin: 0 20px;
        flex-shrink: 0
    }
    &__nav{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-right: 20px;
        &--link{
            font-size: 13px;
            text-decoration: none;
            color: $textes-v1;
            &:hover{
                color: $textes-v2;
            }
        }
    }
}
.header__nav--link::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: $textes-v1;
    margin: 3px auto 0 auto;
    border-radius: 2px;
    transition: width 0.2s ease-in-out;
}
.header__nav--link:hover::after{
    width: 100%;
    background: $textes-v1;  
}
.header__nav--link.active {
    color: $textes-v2;
}
.header__nav--link.active::after {
    color: $textes-v2;
    width: 100%;
}

