@use '../../index' as *;

.personnal-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        
    }
    &__sub-title{
        margin-left: 15px;
        align-self: flex-start;
    }
    &__card{
        width: 86%;
        background: $border-gradient;
        padding: 5px;
        border-radius: 8px;    
    }
    &__content{
        background: $cards;
        color: $textes-v1;
        font-size: 24px;
        padding: 10px;
        border-radius: 8px;
        font-family: "JetBrains mono"
    }
    &__img{
        width: 100%;
        border-radius: 5px;
        margin: 15px 0 0 0;
    }
    &__modal{
        width: 95%;
        max-height: 90%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin: 7% 0 0 1.5%;
        background: #1a0a2e;
        border: 5px solid #c9d1d9;
        border-radius: 15px;
        overflow: auto;
        overflow-x: hidden;
        &--close-btn{
            position: relative;
            width: 33px;
            height: 33px;
            margin: 20px 20px 0 85%;
            display: flex;
            flex-shrink: 0;
            box-shadow: 1px 1px 2px #7c22bb;
        }
        &--title{
            margin: 10px 0 40px 0;
        }
        &--text{
            margin: 0 15px 10px 15px;
        }
        &--h4{
            margin: 20px;
        }
        &--img{
            height: 180px;
            width: 90%;
            border-radius: 5px;
            margin-bottom: 30px;
            object-fit: cover;
        }
        &--logo-container{
            display: flex;
        }
    }
}
.overlay{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.overlay.hide{
    opacity: 1;
    pointer-events: auto;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 10px;
}
.close-btn-stick{
    position: absolute;
    top: 13px;
    left: 3px;
    width: 25px;
    height: 4px;
    border-radius: 1px;
    background: $cards;
}
.stick1{
    transform: rotate(45deg);
}
.stick2{
    transform: rotate(-45deg);
}

@media (min-width : 1440px) {
    .personnal-works{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            margin-top: 50px;
        }
    }
}